<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-10">
    <h4
      style="color:rgb(120,120,120); margin-bottom:4px;">
      {{cafe['name']}}
    </h4>
    <div>
      <b>Location:</b> {{cafe['location']}}
    </div>
    <div>
      <b>coffe:</b> {{cafe['coffee_price']}}
    </div>
  </div>
  <div class="col-2 padding-right:16px">
    <a href="/cafe/{{cafe['id']}}" type="button" class="btn btn-outline-primary float-right align-middle" >review</a>
  </div>

</div>